@import "progressbar-variables";

.progressbar {
  height: $progressbar-height;
  background: $progressbar-background;

  &-bar {
    height: $progressbar-bar-height;
    background: $progressbar-bar-background;
    transition: $progressbar-bar-transition;
  }
}
