$progressbar-height: 1.25rem !default;
$progressbar-background: #e6e6e6 !default;

$progressbar-bar-height: 100% !default;
$progressbar-bar-background: #3e4041 !default;
$progressbar-bar-transition: transform 2s ease !default;
